p.main-text {
    font: {
      size: 1.2em;
      weight: bold;
      family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
}
nav {
      display: block;
      background-color: rgba(126, 124, 124, 0.808);
    }

nav img {
        width: 40px;
        height: 40px;
      }

nav ul {
      display: flex;
       flex-direction: column;
       list-style-type: none;
    }

    @media screen and (min-width: 576px) {
nav ul {
       display: flex;
       flex-direction: row;
       align-items: center;
    }
    li{
        margin-left: 10px;
    }
}
